<div id="login-div">
    <form ng-submit="vm.ResetPassword()" method="post" role="form">
        <input id="antiForgeryToken" name="__RequestVerificationToken" value="{{vm.AntiForgeryToken}}" ng-model="vm.AntiForgeryToken" type="hidden" />
        <fieldset>
            <legend>Enter Login Email</legend>
            <p>
                <label for="UserName">User name (*)</label>
                <input id="UserName" ng-model="vm.LoginUser.Email" name="UserName" type="text" value="">
                <span class="field-validation-valid"></span>
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </fieldset>
    </form>
    <div class="row">
        <div class="col-md-3 pull-left">
            <a href="login">Login</a>
        </div>
        <div class="col-md-3 pull-right">
            <a href="register">Create New Admin Account</a>
        </div>
    </div>
</div>