<div ng-include="'admin/adminHeader.html'"></div>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Update Password</h4>
        <br />
    </div>
    <div class="col-md-6">
        <form name="updatePasswordForm" class="form-horizontal" ng-submit="vm.UpdatePassword()" method="post" role="form">
            <input id="antiForgeryToken" name="__RequestVerificationToken" value="{{vm.AntiForgeryToken}}" ng-model="vm.AntiForgeryToken" type="hidden" />

            <!--Password-->
            <div class="form-group" ng-class="{ 'has-error' : updatePasswordForm.oldPassword.$invalid && !updatePasswordForm.oldPassword.$pristine }">
                <label class="col-md-4 control-label">Old Password</label>
                <div class="col-md-8">
                    <input class="form-control"
                           name="oldPassword"
                           ng-maxlength="16"
                           ng-minlength="8"
                           ng-model="vm.UpdatePasswordModel.OldPassword"
                           type="password"
                           required>
                    <p ng-show="updatePasswordForm.oldPassword.$invalid && !updatePasswordForm.oldPassword.$pristine" class="help-block">You must enter your current password to update your current password.</p>
                </div>
            </div>

            <!--Password-->
            <div class="form-group" ng-class="{ 'has-error' : updatePasswordForm.newPassword.$invalid && !updatePasswordForm.newPassword.$pristine }">
                <label class="col-md-4 control-label">New Password</label>
                <div class="col-md-8">
                    <input class="form-control"
                           name="newPassword"
                           ng-maxlength="16"
                           ng-minlength="8"
                           ng-model="vm.UpdatePasswordModel.NewPassword"
                           type="password"
                           required>
                    <p ng-show="(updatePasswordForm.newPassword.$invalid && !updatePasswordForm.newPassword.$pristine)
                                  " class="help-block">You must enter a password.</p>
                </div>
            </div>

            <!--Confirm Password-->
            <div class="form-group" ng-class="{ 'has-error' : updatePasswordForm.confirmNewPassword.$invalid && !updatePasswordForm.confirmNewPassword.$pristine }">
                <label class="col-md-4 control-label">Confirm New Password</label>
                <div class="col-md-8">
                    <input class="form-control"
                           name="confirmNewPassword"
                           ng-maxlength="16"
                           ng-minlength="8"
                           ng-model="vm.UpdatePasswordModel.ConfirmPassword"
                           type="password"
                           required>
                    <p ng-show="(updatePasswordForm.confirmNewPassword.$invalid && !updatePasswordForm.confirmNewPassword.$pristine)
                                && (updatePasswordForm.newPassword == updatePasswordForm.ConfirmPassword)" class="help-block">
                        You must confirm your password and the password and confirm password must match.
                    </p>
                </div>
            </div>

            <!--Submit Button-->
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-default" value="UpdatePassword">
                        Update Password
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-include="'admin/account/updateLoginOptions.html'"></div>
</div>