<div class="row">
    <div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <form name="userForm" class="col-login" ng-submit="$ctrl.resetPassword()" method="post" role="form">
            <div style="display:block;" class="text-center">
                <img src="../../../assets/images/profile.jpg" class="img-circle profile-picture-sm" />
            </div>
            <h2 class="text-center" style="margin-bottom: 20px;">
                BrianMikinski.net
            </h2>
            <h3 class="text-center" ng-if="$ctrl.passwordResetSuccess">
                Password reset was successful!
            </h3>
            <br />
            <br />
            <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && !userForm.Password.$pristine }" ng-if="!$ctrl.passwordResetSuccess">
                <label class="control-label">
                    New Password
                </label>
                <input class="form-control"
                       name="Password"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$ctrl.resetPasswordModel.password"
                       ng-change="$ctrl.updatePasswordValidators($ctrl.resetPasswordModel.password)"
                       type="password"
                       placeholder="New password"
                       required
                       autofocus>
                <p ng-show="userForm.Password.$invalid && !userForm.Password.$pristine" class="help-block">
                    You must enter a password.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine }" ng-if="!$ctrl.passwordResetSuccess">
                <label class="control-label">
                    Confirm New Password
                </label>
                <input class="form-control"
                       name="ConfirmPassword"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$ctrl.resetPasswordModel.confirmPassword"
                       type="password"
                       placeholder="Confirm new password"
                       required>
                <p ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block">
                    You must confirm your password and the password and confirm password must match.
                </p>
            </div>
            <div class="form-group" ng-if="!$ctrl.passwordResetSuccess">
                <p>
                    <b>Requirements:</b>
                    <ul>
                        <li>
                            6 characters <i class="fa fa-check pull-right login-checkbox login-valid" ng-show="$ctrl.getPasswordValidor().has6Characters"></i>
                        </li>
                        <li>
                            One lowercase ('a'-'z') <i class="fa fa-check pull-right login-valid" ng-show="$ctrl.passwordValidator.hasLowerCase"></i>
                        </li>
                        <li>
                            One uppercase ('A'-'Z') <i class="fa fa-check pull-right login-valid" ng-if="$ctrl.passwordValidator.hasUpperCase"></i>
                        </li>
                        <li>
                           One digit ('0'-'9') <i class="fa fa-check pull-right login-valid" ng-if="$ctrl.passwordValidator.hasNumeric"></i>
                        </li>
                        <li>
                            One non alphanumeric character <i class="fa fa-check pull-right login-valid" ng-if="$ctrl.passwordValidator.hasNonAlphaNumeric"></i>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="form-group" ng-if="!$ctrl.passwordResetSuccess">
                <button type="submit" class="form-control btn btn-primary login-btn" ng-disabled="$ctrl.isValidPassword() && userForm.$valid || $ctrl.resetSubmitted">
                    Reset Password
                </button>
            </div>
            <a ui-sref="home" ng-disabled="$ctrl.resetSubmitted">
                <button class="btn btn-primary login-btn" type="button">
                    Home
                </button>
            </a>
            <a ui-sref="login" class="text-center" style="display:block; margin-bottom: 10px;" ng-disabled="$ctrl.resetSubmitted">
                Back to Login
            </a>
        </form>
    </div>
</div>
