<div class="row">
    <div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <form name="userForm" class="col-login" ng-submit="$ctrl.resetPassword()" method="post" role="form">
            <div style="display:block;" class="text-center">
                <img src="../../content/images/profile.jpg" class="img-circle profile-picture-sm" />
            </div>
            <h2 class="text-center" style="margin-bottom: 20px;">
                BrianMikinski.net
            </h2>
            <h3 class="text-center" ng-if="$ctrl.passwordResetSuccess">
                Password reset was successful!
            </h3>
            <br />
            <br />
            <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && !userForm.Password.$pristine }" ng-if="!$ctrl.passwordResetSuccess">
                <label class="control-label">
                    Password
                </label>
                <input class="form-control"
                       name="Password"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$ctrl.resetPasswordModel.password"
                       type="password"
                       required>
                <p ng-show="userForm.Password.$invalid && !userForm.Password.$pristine" class="help-block">
                    You must enter a password.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine }" ng-if="!$ctrl.passwordResetSuccess">
                <label class="control-label">
                    Confirm password
                </label>
                <input class="form-control"
                       name="ConfirmPassword"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$ctrl.resetPasswordModels.ConfirmPassword"
                       type="password"
                       required>
                <p ng-show="userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine" class="help-block">
                    You must confirm your password and the password and confirm password must match.
                </p>
            </div>
            <div class="form-group" ng-if="!$ctrl.passwordResetSuccess">
                <button type="submit" class="form-control btn btn-primary" ng-enabled="!this.resetSubmitted">
                    Submit Registration
                </button>
            </div>
            <a ui-sref="login" class="text-center" style="display:block; margin-bottom: 10px;" ng-enabled="!this.resetSubmitted">
                Back to Login
            </a>
            <a ui-sref="home" ng-enabled="!this.resetSubmitted">
                <button class="btn btn-primary login-btn" type="button">
                    Home
                </button>
            </a>
        </form>
    </div>
</div>