<form ng-submit="$ctrl.identityModalAction()" method="post" role="form">
    <div class="modal-header">
        <div style="display:block;" class="text-center">
            <img src="../../content/images/profile.jpg" class="img-circle profile-picture-sm" />
        </div>
        <h2 class="text-center" style="margin-bottom: 20px;">
            brianmikinski.net
        </h2>
    </div>
    <div class="modal-body">

        <!--register user-->
        <div class="row" ng-if="$ctrl.isRegisterUserView()">
            <div class="col-md-12 col-lg-12">
                <div class="form-group" ng-class="{ 'has-error' : userForm.Email.$invalid && !userForm.Email.$pristine }">
                    <label class="control-label">
                        Email
                    </label>
                    <input class="form-control"
                           name="Email"
                           type="email"
                           ng-maxlength="128"
                           placeholder="Required"
                           ng-model="$ctrl.newUser.Email"
                           value=""
                           autofocus
                           required />
                    <p ng-show="userForm.Email.$invalid && !userForm.Email.$pristine" class="help-block">
                        Your email is required.
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && !userForm.Password.$pristine }">
                    <label class="control-label">
                        Password
                    </label>
                    <input class="form-control"
                           name="Password"
                           ng-maxlength="16"
                           ng-minlength="8"
                           ng-model="$ctrl.newUser.Password"
                           type="password"
                           required>
                    <p ng-show="userForm.Password.$invalid && !userForm.Password.$pristine" class="help-block">
                        You must enter a password.
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine }">
                    <label class="control-label">
                        Confirm password
                    </label>
                    <input class="form-control"
                           name="ConfirmPassword"
                           ng-maxlength="16"
                           ng-minlength="8"
                           ng-model="$ctrl.newUser.ConfirmPassword"
                           type="password"
                           required>
                    <p ng-show="userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine" class="help-block">
                        You must confirm your password and the password and confirm password must match.
                    </p>
                </div>
                <div class="form-group" ng-if="!$ctrl.passwordResetSuccess">
                    <p>
                        <b>Requirements:</b>
                        <ul>
                            <li>
                                6 characters
                            </li>
                            <li>
                                One lowercase ('a'-'z')
                            </li>
                            <li>
                                One uppercase ('A'-'Z')
                            </li>
                            <li>
                                One digit ('0'-'9')
                            </li>
                            <li>
                                One non alphanumeric character
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!--login-->
        <div class="row" ng-if="$ctrl.isLoginView()">
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input class="form-control"
                               name="UserName"
                               type="text"
                               value=""
                               placeholder="youremail@domain.com"
                               ng-disabled="$ctrl.submitLogin"
                               ng-model="$ctrl.LoginUser.Email"
                               autofocus>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </div>
                        <input class="form-control" name="Password" type="password" placeholder="your password" ng-disabled="$ctrl.submitLogin" ng-model="$ctrl.LoginUser.Password" tabindex="1">
                    </div>
                </div>
            </div>
        </div>

        <!--forgot password-->
        <div class="row" ng-if="$ctrl.isForgotPasswordView()">
            <div class="col-md-12 col-lg-12">
                <div class="form-group" ng-if="!$ctrl.resetPasswordEmailSent">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input class="form-control"
                               name="email"
                               type="email"
                               value=""
                               placeholder="youremail@domain.com"
                               ng-enabled="$ctrl.submitResetRequest === false"
                               ng-model="$ctrl.userEmail"
                               autofocus
                               required>
                    </div>
                </div>
                <p ng-if="$ctrl.resetPasswordEmailSent">
                    Password reset meail sent. Please check your email.
                </p>
            </div>
        </div>

        <!--logoff -->
        <div class="row" ng-if="$ctrl.isLogoffView()">
            <div class="col-md-12 col-lg-12">
                <h4 class="text-center">
                    End Session
                </h4>
                <br />
                <div class="form-group">
                    <p class="text-center">
                        Are you sure you want to sign out?
                    </p>
                    <br />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <!--all screens-->
        <a class="text-center" style="display:block; margin-bottom: 10px;" href="#" ng-click="$ctrl.showLoginView()" ng-if="$ctrl.isForgotPasswordView() || $ctrl.isRegisterUserView()">
            Return to Login
        </a>

        <!--register-->
        <button type="submit" class="btn btn-primary login-btn" ng-if="$ctrl.isRegisterUserView()" ng-disabled="$ctrl.submitRegistration">
            Submit Registration
        </button>

        <!--login-->
        <a class="text-center" style="display:block; margin-bottom: 10px;"  href="#" ng-click="$ctrl.showForgotPasswordView()" ng-if="$ctrl.isLoginView()">
            Forgot Password?
        </a>
        <button class="btn btn-primary login-btn" type="submit" ng-disabled="$ctrl.submitLogin" ng-if="$ctrl.isLoginView()">
            Log In
        </button>
        <a href="#" ng-if="$ctrl.isLoginView()">
            <button class="btn btn-primary login-btn" type="button" ng-click="$ctrl.showRegisterUserView()">
                Register
            </button>
        </a>

        <!--forgot password-->
        <button class="btn btn-primary login-btn" type="submit"
                ng-disabled="$ctrl.submitResetRequest === true || resetPassword.email.$invalid"
                ng-if="!$ctrl.resetPasswordEmailSent && $ctrl.isForgotPasswordView()">
            Reset Password
        </button>

        <!--logoff-->
        <button class="btn btn-primary login-btn" type="button" ng-click="$ctrl.logoff()" ng-if="$ctrl.isLogoffView()">
            Logoff
        </button>

        <!--all screens-->
        <a href="#">
            <button class="btn btn-default login-btn" type="button" ng-click="$ctrl.cancel()">
                Close
            </button>
        </a>
    </div>

</form>