<div id="content">
    <div class="row">
        <br />
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th title="The title of the post" 
                            class="table-header-custom" 
                            ng-click="$postsGridCtrl.PostsPageAndSort(null,'Title', false)">
                                Title
                             <span class="glyphicon table-header-icon" title="Sort by Title" 
                                    ng-class="$postsGridCtrl.SortFieldIsAscending('Title', $postsGridCtrl.Posts.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th title="The url slug of the post" 
                            class="table-header-custom"  
                            ng-click="$postsGridCtrlPostsPageAndSort(null,'UrlSlug', false)">
                            URL Slug
                            <span class="glyphicon table-header-icon" title="Sort by Url Slug" 
                                  ng-class="$postsGridCtrlSortFieldIsAscending('UrlSlug', $postsGridCtrl.Posts.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th class="text-center table-header-custom" 
                            title="Primary Key" e
                            ng-click="$postsGridCtrl.PostsPageAndSort(null,'Id', false)">
                            ID
                            <span class="glyphicon table-header-icon"  title="Sort by Id" 
                                  ng-class="$postsGridCtrl.SortFieldIsAscending('Id', $postsGridCtrl.Posts.PagingProperties.SortFields, false)">
                            </span>
                        </th>
                        <th class="text-center table-header-custom" 
                            title="The date the post was last modified" 
                            ng-click="$postsGridCtrl.PostsPageAndSort(null,'Modified', false)">
                            Modified
                            <span class="glyphicon table-header-icon"  title="Sort by date Modified" 
                                  ng-class="$postsGridCtrl.SortFieldIsAscending('Modified', $postsGridCtrl.Posts.PagingProperties.SortFields, false)">
                            </span>
                        </th>
                        <th class="text-center table-header-custom" 
                            title="The date the post was published on" 
                            ng-click="$postsGridCtrl.PostsPageAndSort(null,'PostedOn', false)">
                            Published On
                            <span class="glyphicon table-header-icon" title="Sort by date Published" 
                                  ng-class="$postsGridCtrl.SortFieldIsAscending('PostedOn', $postsGridCtrl.Posts.PagingProperties.SortFields, false)">
                            </span>
                        </th>
                        <th class="text-center table-header-custom" 
                            title="Indicates whether or not the post has been published"
                            ng-click="$postsGridCtrl.PostsPageAndSort(null,'Published', false)">
                            Published
                            <span class="glyphicon table-header-icon" title="Sort by Published posts" 
                                  ng-class="$postsGridCtrl.SortFieldIsAscending('Published', $postsGridCtrl.Posts.PagingProperties.SortFields, null)">
                            </span>
                        </th>
                        <th title="Actions that can be taken on each post">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in $postsGridCtrl.Posts.Results" class="slide-down">
                        <td>
                            {{ ($index + 1)}}
                        </td>

                        <td>
                            <a href="post/{{post.UrlSlug}}">{{post.Title}}</a>
                        </td>
                        <td>
                            {{post.UrlSlug}}
                        </td>
                        <td class="text-center">
                            {{post.Id}}
                        </td>
                        <td class="text-center" >
                            <span ng-if="post.Modified">
                                {{post.Modified}}
                            </span>
                            <span ng-if="!post.Modified">
                                -
                            </span>
                        </td>
                        <td class="text-center">
                            <span ng-if="post.PostedOn">
                                {{post.PostedOn}}
                            </span>
                            <span ng-if="!post.PostedOn">
                                -
                            </span>
                        </td>
                        <td class="text-center">
                            <!--Published Post-->
                            <span class="glyphicon glyphicon-ok-circle publish-post-glyphicon"
                                  title="Published on {{post.PostedOn}}" 
                                  ng-if="post.Published">
                            </span>
                            <!--Unpublished Post-->
                            <span class="glyphicon glyphicon-minus unpublish-post-glyphicon"
                                  title="This post has not been published" 
                                  ng-if="!post.Published">
                            </span>
                        </td>
                        <td class="text-center">
                            <a href="post/edit/{{post.Id}}" title="Edit post">
                                <span class="glyphicon glyphicon-edit edit-post-glyphicon">
                                </span>
                            </a>
                            <span class="glyphicon glyphicon-ban-circle unpublish-post-glyphicon"
                                  title="Unpublish Post"
                                  ng-if="post.Published"
                                  ng-click="$postsGridCtrl.UnpublishPost(post)">
                            </span>
                            <span class="glyphicon glyphicon-upload publish-post-glyphicon"
                                  title="Publish Post"
                                  ng-if="!post.Published"
                                  ng-click="$postsGridCtrl.PublishPost(post)">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <uib-pagination class="pagination-sm"
                                total-items="$postsGridCtrl.Posts.PagingProperties.TotalResults"
                                ng-model="index"
                                max-size="$postsGridCtrl.Posts.PagingProperties.TotalPages"
                                boundary-links="true"
                                ng-change="$postsGridCtrl.PostsPageAndSort(index, null, false)"
                                rotate="true"></uib-pagination>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 pull-right">
            <a ui-sref="newpost" class="text-center">
                <button class="btn btn-primary uppercase" type="button">
                    New Post
                </button>
            </a>
        </div>
    </div>
</div>
