<div class="row">
    <div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <form name="userForm" class="col-login" ng-submit="$registerUserCtrl.Register()" method="post" role="form">
            <div class="form-group" ng-class="{ 'has-error' : userForm.Email.$invalid && !userForm.Email.$pristine }">
                <label class="control-label">
                    Email
                </label>
                <input class="form-control"
                       name="Email"
                       type="email"
                       ng-maxlength="128"
                       placeholder="Required"
                       ng-model="$registerUserCtrl.NewUser.Email"
                       value=""
                       required />
                <p ng-show="userForm.Email.$invalid && !userForm.Email.$pristine" class="help-block">
                    Your email is required.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && !userForm.Password.$pristine }">
                <label class="control-label">
                    Password
                </label>
                <input class="form-control"
                       name="Password"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$registerUserCtrl.NewUser.Password"
                       type="password"
                       required>
                <p ng-show="userForm.Password.$invalid && !userForm.Password.$pristine" class="help-block">
                    You must enter a password.
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine }">
                <label class="control-label">
                    Confirm password
                </label>
                <input class="form-control"
                       name="ConfirmPassword"
                       ng-maxlength="16"
                       ng-minlength="8"
                       ng-model="$registerUserCtrl.NewUser.ConfirmPassword"
                       type="password"
                       required>
                <p ng-show="userForm.ConfirmPassword.$invalid && !userForm.ConfirmPassword.$pristine" class="help-block">
                    You must confirm your password and the password and confirm password must match.
                </p>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary" value="Register">
                    Submit Registration
                </button>
            </div>
        </form>
    </div>
</div>