<div>
    <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="btn-group pull-right" uib-dropdown is-open="$ctrl.isOpen">
                <button type="button" class="navbar-toggle" id="dropdownMenuMobile" uib-dropdown-toggle>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="dropdownMenuMobile">
                    <li role="menuitem">
                        <a href="home">
                            <i class="fa fa-home">
                            </i>Home
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="categories">
                            <i class="fa fa-folder">
                            </i>Categories
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="aboutme">
                            <i class="fa fa-info-circle"></i> About Me
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-arrow-up"></i> Top of Page
                        </a>
                    </li>
                    <li role="menuitem" is-authorized resource="admin" action="read">
                        <a href="manageContent">
                            <i class="fa fa-pencil-square-o"></i> Manage Content
                        </a>
                    </li>
                    <li role="menuitem" is-authorized only-show-unauthorized="true">
                        <a href="login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a>
                    </li>
                    <li role="menuitem" is-authorized resource="admin" action="read">
                        <a href="logoff">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
            <a type="button" class="navbar-toggle nav-link visible-xs visible-sm" href="https://github.com/{{$ctrl.metadata.Github}}">
                <i class="fa fa-github"></i>
            </a>
            <a type="button" class="navbar-toggle nav-link visible-xs visible-sm" href="https://twitter.com/{{$ctrl.metadata.Twitter}}">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="navbar-toggle nav-link visible-xs visible-sm" href="{{$ctrl.metadata.XMLFeed}}">
                <i class="fa fa-rss"></i>
            </a>
            <a class="navbar-brand" href="/">
                <img src="../../content/images/profile.jpg" class="img-circle pull-left profile-picture-mobile">
                <span>
                    {{$ctrl.metadata.URL}}
                </span>
            </a>
        </div>
    </nav>
    <div class="btn-group hidden-xs hidden-sm pull-right" uib-dropdown is-open="$ctrl.isOpen" style="margin-top: 20px; float: right; z-index: 5000; margin-right: 30px;">
        <button type="button" class="btn btn-default" id="dropdownMenu" uib-dropdown-toggle>
            <i class="fa fa-bars"></i>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="dropdownMenu">
            <li role="menuitem">
                <a href="home">
                    <i class="fa fa-home"> </i>Home
                </a>
            </li>
            <li role="menuitem">
                <a href="categories">
                    <i class="fa fa-folder"> </i>Categories
                </a>
            </li>
            <li role="menuitem">
                <a href="aboutme">
                    <i class="fa fa-info-circle"></i> About Me
                </a>
            </li>
            <li class="divider"></li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-arrow-up"></i> Top of Page
                </a>
            </li>
            <li role="menuitem" is-authorized resource="admin" action="read">
                <a href="manageContent">
                    <i class="fa fa-pencil-square-o"></i> Manage Content
                </a>
            </li>
            <li role="menuitem" is-authorized only-show-unauthorized="true">
                <a href="login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                </a>
            </li>
            <li role="menuitem" is-authorized resource="admin" action="read">
                <a href="logoff">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</div>