<div class="row">
    <div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 ">
        <form class="col-login" ng-submit="$ctrl.login()" method="post" role="form">
            <div style="display:block;" class="text-center">
                <img src="../../content/images/profile.jpg" class="img-circle profile-picture-sm"/>
            </div>
            <h2 class="text-center" style="margin-bottom: 20px;">
                BrianMikinski.net
            </h2>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input class="form-control"  
                           name="UserName" 
                           type="text" 
                           value="" 
                           placeholder="youremail@domain.com"
                           ng-enabled="!$ctrl.submitLogin"
                           ng-model="$ctrl.LoginUser.Email">
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </div>
                    <input class="form-control" name="Password" type="password" placeholder="your password" ng-enabled="!$ctrl.submitLogin" ng-model="$ctrl.LoginUser.Password" >
                </div>
            </div>

            <a ui-sref="forgotPassword" class="text-center" style="display:block; margin-bottom: 10px;">
                Forgot Password?
            </a>

            <button class="btn btn-primary login-btn" type="submit" ng-enabled="!$ctrl.submitLogin">
                Log In
            </button>

            <a ui-sref="register">
                <button class="btn btn-primary login-btn" type="button">
                    Register
                </button>
            </a>
        </form>
    </div>
</div>