<div id="content">
    <div class="row">
        <br />
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th title="Name of the category" class="table-header-custom" ng-click="$ctrl.CategoriesPageAndSort(null,'Name')">
                            Name
                            <span class="glyphicon table-header-icon" title="Sort by Name"
                                  ng-class="$ctrl.SortFieldIsAscending('Name', $ctrl.Categories.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th title="The url slug of the category" class="table-header-custom" ng-click="$ctrl.CategoriesPageAndSort(null,'UrlSlug')">
                            Url Slug
                            <span class="glyphicon table-header-icon" title="Sort by url slug"
                                  ng-class="$ctrl.SortFieldIsAscending('UrlSlug', $ctrl.Categories.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th class="text-center table-header-custom" ng-click="$ctrl.CategoriesPageAndSort(null,'PostCount')">
                            Posts
                            <span class="glyphicon table-header-icon" title="Sort by posts"
                                  ng-class="$ctrl.SortFieldIsAscending('PostCount', $ctrl.Categories.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th class="text-center table-header-custom" title="ID of the category" ng-click="$ctrl.CategoriesPageAndSort(null,'Id')">
                            ID
                            <span class="glyphicon table-header-icon" title="Sort by posts"
                                  ng-class="$ctrl.SortFieldIsAscending('Id', $ctrl.Categories.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th class="text-center" title="Last modification date" ng-click="$ctrl.CategoriesPageAndSort(null,'Modified')">
                            Modified
                            <span class="glyphicon table-header-icon" title="Sort by posts"
                                  ng-class="$ctrl.SortFieldIsAscending('Modified', $ctrl.Categories.PagingProperties.SortFields, true)"></span>
                        </th>
                        <th class="text-center">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in $ctrl.Categories.Results">
                        <td>
                            {{ ($index + 1)}}
                        </td>
                        <td>
                            <a href="category/{{category.UrlSlug}}">{{category.Name}}</a>
                        </td>
                        <td>
                            {{category.UrlSlug}}
                        </td>
                        <td class="text-center">
                            <!--{{category.PostCount}}-->
                            {{category.PostCount}}
                        </td>
                        <td class="text-center">
                            {{category.Id}}
                        </td>
                        <td class="text-center">
                            {{category.Modified}}
                        </td>
                        <td class="text-center">
                            <a href="category/edit/{{category.Id}}" title="Edit Category">
                                <span class="glyphicon glyphicon-edit edit-post-glyphicon">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <uib-pagination class="pagination-sm"
                                total-items="$ctrl.Categories.PagingProperties.TotalResults"
                                ng-model="index"
                                max-size="$ctrl.Categories.PagingProperties.TotalPages"
                                boundary-links="true"
                                ng-change="$ctrl.CategoriesPageAndSort(index, null)"
                                rotate="true"></uib-pagination>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 pull-right">
            <a ui-sref="newcategory" class="text-center">
                <button class="btn btn-primary text-uppercase" type="button">
                    New Category
                </button>
            </a>
        </div>
    </div>
</div>
